<h1>Listing clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Shipto</th>
      <th>Direccion</th>
      <th>Organizacion</th>
      <th>Rut organizacion</th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente['firstname'] %></td>
        <td><%= cliente['lastname'] %></td>
        <td><%= cliente['cf_707'] %></td>
        <td><%= cliente['otherstreet'] %></td>
        <%begin%>
          <td><%= @accounts.find{|instance| instance['id'] == cliente['account_id']}['accountname'] %></td>
          <td><%= @accounts.find{|instance| instance['id'] == cliente['account_id']}['cf_705'] %></td>
        <%rescue%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
