<div class="row">
  <div class="col-md-offset-1">
    <h1>Página de Inicio de Integra-dos</h1>
  </div>
</div>
<%= @status %>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <ul class="nav nav-pills nav-stacked primary">
      <li><%= link_to 'Store', '/store', class: 'link' %></li>
      <li><%= link_to 'Gestion de stocks', stock_almacenes_path , class: 'link' %></li>
      <li><%= link_to 'Dropbox', '/dropbox', class: 'link'%></li>
      <li><%=link_to 'Clientes', clientes_path , class: 'link'%></li>
      <li><%=link_to 'Dashboard', dashboards_path , class: 'link'%></li>
      <li><%=link_to 'Tweet', '/tweet' , class: 'link'%></li>
      <li><%=link_to 'Ofertas', 'get_all' , class: 'link'%></li>
      <li><%=link_to 'Rabbit', '/rabbit' , class: 'link'%></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2">
    <h4 id="loading"></h4>
  </div>
</div>

<script>
  $('.link').click(function(){
    $('#loading').append('Loading...')
  });
</script>
