<h1>Listing offers</h1>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Start</th>
      <th>End</th>
      <th>Price</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.sku %></td>
        <td><%= offer.start %></td>
        <td><%= offer.end %></td>
        <td><%= offer.price %></td>
        <td><%= offer.active %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
