<h1>Dashboard</h1>
<%= link_to 'Borrar DataWarehouse', new_dashboard_path() %> 
<br>
<%= link_to 'Revisar DataWarehouse', dashboard_path(:id=>1) %> 
<h3>Graficos</h3>
<%=@cantidadpedidosordenados%>
<%=@cantidadquiebresordenados%>
<br>
<table>
  <thead>
    <tr>
      <th><div id= "pedidos-por-dia-charts" style = "width:500px; height:300px;"></div></th>
      <th><div id= "pedidos-por-producto-charts" style = "width:500px; height:300px;"></div></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><div id= "quiebres-por-dia-charts" style = "width:500px; height:300px;"></div></td>
        <td><div id= "quiebres-por-producto-charts" style = "width:500px; height:300px;"></div></td>
      </tr>
  </tbody>
</table>


<script type="text/javascript" charset="uts-8"> 
  $(function () {
  new Highcharts.Chart({
    chart: { 
      renderTo: 'pedidos-por-dia-charts' 
    },
    title: { 
      text: 'Cantidad de pedidos por dia' 
  },
    xAxis: { 
      type: 'datetime'
  },
    series: [{
      name: 'Cantidad pedida',
      pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= 31536000000*44+950400000 %>,
      data: <%=@cantidadpedidosdiarios%>
    }]
  });
});
</script>

<script type="text/javascript" charset="uts-8"> 
  $(function () {
  new Highcharts.Chart({
    chart: { 
      type: 'bar',
      renderTo: 'pedidos-por-producto-charts' 
    },
    title: { 
      text: 'Cantidad pedida por producto (Top 10)' 
    },
    xAxis: { 
      categories: <%=@skuspedidosordenados%>,
      title: { 
        text: 'SKU'
      }
    },
    series: [{
      name: 'Cantidad pedida',
      data: <%=@cantidadpedidosordenados%>
    }]
  });
});
</script>


<script type="text/javascript" charset="uts-8"> 
  $(function () {
  new Highcharts.Chart({
    chart: { 
      renderTo: 'quiebres-por-dia-charts' 
    },
    title: { 
      text: 'Cantidad de quiebres de pedidos por dia' 
  },
    xAxis: { 
      type: 'datetime'
  },
    series: [{
      name: 'Cantidad quiebres',
      pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= 31536000000*44+950400000 %>,
      data: <%=@cantidadquiebresdiarios%>
    }]
  });
});
</script>

<script type="text/javascript" charset="uts-8"> 
  $(function () {
  new Highcharts.Chart({
    chart: { 
      type: 'bar',
      renderTo: 'quiebres-por-producto-charts' 
    },
    title: { 
      text: 'Cantidad de quiebres por producto (Top 10)' 
    },
    xAxis: { 
      categories: <%=@skusquiebresordenados%>,
      title: { 
        text: 'SKU'
      }
    },
    series: [{
      name: 'Cantidad quiebres',
      data: <%=@cantidadquiebresordenados%>
    }]
  });
});
</script>







